
<!doctype html>
<html>
<head>
	<title>BookMarklee</title>
	<link rel="stylesheet" text="text/css" href="/css/main.css"> <!-- custom -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:0px; }
	</style>
</head>
<body>

{{>nav}}


  {{{body}}}
  <script src="/js/lib/underscore.js"></script>
  <script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/json2.js"></script>
  <script src="/js/lib/backbone.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/client.js"></script>
</body>
</html>