   
   <div class="datablocks"></div>
   
   
    <script id="bookmark-template" type="text/x-handlebars-template">
			
				<a href="#" class="title"><h1>\{{title}}<br/></h1></a>
				<a href="\{{url}}">\{{url}}</a> <br />
				<p><a href="#" class="btn btn-primary" role="button">Delete</a> <a href="#" class="btn btn-default" role="button">Edit</a></p>
	</script>
	
